.hover {
  stroke-width: 0;
  height: 100%;
  width: 50%;
}

.hover:hover {
  fill: var(--highlight-color);
  cursor: pointer;
}

rect {
  width: 320px;
  height: 160px;

  fill: white;
}

text, rect, line {
  stroke: var(--text-color);
}

rect, line {
  stroke-width: 4px;
}