.hover {
  stroke-width: 0;
  height: 100%;
  width: 50%;
}

.hover:hover {
  fill: var(--highlight-color);
  cursor: pointer;
}

rect {
  width: 320px;
  height: 160px;

  fill: white;
}

text, rect, line {
  stroke: var(--text-color);
  transform: translate(0%);
}

#graph.left * {
  transform: translate(100%, 0%);
  transition: 3s ease-in-out transform;
}

rect, line {
  stroke-width: 4px;
}

@keyframes goLeft {
  from {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(100%, 0%);
  }
  to {
    transform: translate(100%, -100%);
  }
}

@keyframes goRight {
  from {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(-100%, -100%);
  }
}