svg {
  background-size: cover;
}

text {
  fill: white;
  stroke: white;
}

rect, line {
  stroke: var(--text-color);
  transform: translate(0%);
}

rect, line {
  stroke-width: 4px;
}

.hover {
  stroke-width: 0;
  height: 100%;
  width: 50%;
  fill: transparent;
}

.hover:hover {
  fill: var(--transparent-highlight);
  cursor: pointer;
}

#node {
  width: 320px;
  height: 160px;

  fill: white;
}

#question {
  fill: var(--text-color);
  stroke: var(--text-color);
}

@keyframes goLeft {
  from {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(100%, 0%);
  }
  to {
    transform: translate(100%, -100%);
  }
}

@keyframes goRight {
  from {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(-100%, -100%);
  }
}