header h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  font-size: xxx-large;
  text-align-last: justify;
  margin: 0 5rem;
}

nav {
  display: flex;
}

nav a {
  width: 25%;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: #efefef
}
