header {
  position: absolute;
  height: 10%;
  width: 100%;
  background-color: white;
}

header h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  font-size: xxx-large;
  text-align-last: justify;
  margin: 1rem 5rem;
}

main {
  height: 100%;
}