a#home {
  background-color: white;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(100% - 120px);
  border-radius: 50px;
  height: 100px;
}

a#home:hover {
  background-color: var(--opaque-highlight);
  box-shadow: var(--transparent-highlight) 5px 5px 3px;
}

a#home:active {
  box-shadow: none;
}